<div id="footer">
  <div id="footer_inner">
    <div id="totop_btn_sp" class="center mar_btm_20 totop_button fade">
      <a href="#header"><i class="fa fa-chevron-circle-up color_white totop_button"></i></a>
    </div>
    <div class="shop_title_footer clearfix center">
      <div class="shop_info_footer">
        <h1 class="site_logo_footer fade">
          <a href="https://r.goope.jp/goope-baseball" class="site_logo_small">
            少年野球クラブ「グーペチーム」
          </a>
        </h1>
      </div>
      <div class="shop_name_sp font_14 center color_white">
        <span>
          少年野球クラブ「グーペチーム」
        </span>
      </div>
      <div class="shop_tel font_14 center color_white">
        <span class="color_white">
          <i class="fa fa-phone"></i> 012-3456-7890
        </span>
      </div>
    </div>

    <!-- // フッターナビ部分ここから -->
    <div class="navi_footer mar_btm_20">
      <ul class="navi_inner clearfix">
        
        <li>
          <a href="/goope-baseball/"  class="footer_navi_top active fade">
            <span class="color_white">
              <i class="fa fa-chevron-right navi_icon_footer sub_color"></i>トップページ
            </span>
          </a>
        </li>
        
        <li>
          <a href="/goope-baseball/info"  class="footer_navi_info fade">
            <span class="color_white">
              <i class="fa fa-chevron-right navi_icon_footer sub_color"></i>お知らせ
            </span>
          </a>
        </li>
        
        <li>
          <a href="/goope-baseball/free/about"  class="footer_navi_free free_397358 fade">
            <span class="color_white">
              <i class="fa fa-chevron-right navi_icon_footer sub_color"></i>チーム案内
            </span>
          </a>
        </li>
        
        <li>
          <a href="/goope-baseball/calendar"  class="footer_navi_calendar fade">
            <span class="color_white">
              <i class="fa fa-chevron-right navi_icon_footer sub_color"></i>練習・試合予定
            </span>
          </a>
        </li>
        
        <li>
          <a href="/goope-baseball/free/result"  class="footer_navi_free free_397356 fade">
            <span class="color_white">
              <i class="fa fa-chevron-right navi_icon_footer sub_color"></i>試合結果
            </span>
          </a>
        </li>
        
        <li>
          <a href="/goope-baseball/free/info"  class="footer_navi_free free_397357 fade">
            <span class="color_white">
              <i class="fa fa-chevron-right navi_icon_footer sub_color"></i>連絡事項
            </span>
          </a>
        </li>
        
        <li>
          <a href="/goope-baseball/reservation/event/"  class="footer_navi_event_reservation fade">
            <span class="color_white">
              <i class="fa fa-chevron-right navi_icon_footer sub_color"></i>体験・見学
            </span>
          </a>
        </li>
        
        <li>
          <a href="/goope-baseball/contact"  class="footer_navi_contact fade">
            <span class="color_white">
              <i class="fa fa-chevron-right navi_icon_footer sub_color"></i>お問い合わせ
            </span>
          </a>
        </li>
        
      </ul>
    </div>