<div class="top_line"></div>

    <div id="wrapper_inner">
        <div id="header" class="clearfix">
            <div class="site_title">
                <h1 class="site_logo fade">
                    らんぱち
                </h1>
            </div>
                <div class="logo-mark">
                    <%= image_tag  "ranpach-logo.jpg",  alt: "logo", class: "ranpach-logo" %>
                </div>
        </div>
    </div>