<div id="header" class="clearfix">
    <div class="site_title">
        <h1 class="site_logo fade">
            <a class="shop_sitename" href="#">
                「グーペチーム」
            </a>
        </h1>
    <div class="site_description site_description_mobile">

    </div>
    </div>

    <div class="tel_area clearfix">
        <div class="shop_title">
            <div class="tel_number shop_tel">
                <i class="fa fa-phone"></i> 012-3456-7890
            </div>
        </div>
    </div>
</div>