 <div id="navi" class="mar_btm_10 border_radius border_solid">
        <ul class="navi_ul">
          
          <li class="border_bottom font_14">
            <a href="/goope-baseball/"  class="navi_top active">
              <i class="fa fa-chevron-right navi_pc sub_color"></i>トップページ
            </a>
              
          </li>
          
          <li class="border_bottom font_14">
            <a href="/goope-baseball/info"  class="navi_info">
              <i class="fa fa-chevron-right navi_pc sub_color"></i>お知らせ
            </a>
              
          </li>
          
          <li class="border_bottom font_14">
            <a href="/goope-baseball/free/about"  class="navi_free free_397358">
              <i class="fa fa-chevron-right navi_pc sub_color"></i>チーム案内
            </a>
              
          </li>
          
          <li class="border_bottom font_14">
            <a href="/goope-baseball/calendar"  class="navi_calendar">
              <i class="fa fa-chevron-right navi_pc sub_color"></i>練習・試合予定
            </a>
              
          </li>
          
          <li class="border_bottom font_14">
            <a href="/goope-baseball/free/result"  class="navi_free free_397356">
              <i class="fa fa-chevron-right navi_pc sub_color"></i>試合結果
            </a>
              
          </li>
          
          <li class="border_bottom font_14">
            <a href="/goope-baseball/free/info"  class="navi_free free_397357">
              <i class="fa fa-chevron-right navi_pc sub_color"></i>連絡事項
            </a>
              
          </li>
          
          <li class="border_bottom font_14">
            <a href="/goope-baseball/reservation/event/"  class="navi_event_reservation">
              <i class="fa fa-chevron-right navi_pc sub_color"></i>体験・見学
            </a>
              
          </li>
          
          <li class="border_bottom font_14">
            <a href="/goope-baseball/contact"  class="navi_contact">
              <i class="fa fa-chevron-right navi_pc sub_color"></i>お問い合わせ
            </a>
              
          </li>
          
        </ul>
        </div>