<div id="wrapper">
<%= render "shared/header" %>

<div id="contents" class="clearfix">
  <div class="main-image">
    <%= image_tag  "top-page.jpg",  alt: "サンプル" %>
  </div>
  <div id="main">
  </div>

<%= render "shared/nav" %>
</div>

<%= render "shared/footer" %>
</div>
