* {
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #fffcf8;
}

#wrapper {
    width: 100%;
}

.top_line {
    height: 20px;
    background-color: #fff000;
}

#wrapper_inner {
    margin: 0 auto;
}

#header.clearfix {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0;
}

.site_logo {
    font-size: 50px;
    letter-spacing: 10px;
    text-shadow: 2px 2px 3px #fff000;
    padding-top: 20px;
}

.ranpach-logo {
  width: 130px;
  height: 130px;
  border-radius: 100px;
}

#contents {
    padding: 0 50px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.main-image img{
    width: 900px;
    height: 680px;
    margin-right: 100px;
 
}

#main {
    margin-right: 150px;
}

#side {
    width: 200px;
    text-align: center;
}

#navi {
    padding: 0 23px;
    background-color: #fff;
    border-radius: 7px;
}

.mar_btm_10 {
    margin-bottom: 10px;
}

.border_solid {
    border: 1px #59C56D solid;
}

ul {
    list-style: none;
}

.navi_ul li {
    padding: 20px 0;
    font-size: 14px;
    border-bottom: 1px #59C56D dotted;
    color: #3f260d;
}

.border_bottom a {
    color: #3f260d;
}

.navi_ul li:last-child {
    border: none;
}

.today_area {
    padding: 0 23px;
    background-color: #fff;
    border-radius: 7px;
    border: 1px #59C56D solid;
}

.today_title {
    border-bottom: 1px #59C56D dotted;
    padding: 10px 0;
    margin-bottom: 40px;

}

.footer_social_wrap {
    width: 100%;
}

#footer {
    background-color: #59C56D;
    padding: 40px 0 20px 0;
    margin: 30px 0 0 0;
    text-align: center;
}

#footer_inner {
    width: 100%
}

.navi_footer ul {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.navi_footer li {
    list-style: none;
    margin: 20px 10px;
}

.site_logo_footer {
    color: #fff;
    font-size: 30px;
}